<%= render 'shared/page_title', title: "all questions" %>

<% @questions.each do |question| %>
	<div class="row">

 <!-- for displaying image of those who asked question -->
		<div class="col-md-2">
			<section class="user_info center">
				<%= gravatar_for question.user, size: 100 %>     <!--go to helpers/application_helper.rb for gravatar_for method   -->
				<h5>User name: <%= question.user.username %></h5>
			</section>
		</div>

 <!-- for displaying the question and description of question -->
		<div class="col-lg-6 well">    <!--well creates a box around stuff -->
		 	<h4>
		 		<%= link_to question.text, question_path(question) %>
		 	</h4>
		 	<p>
		 		<%= question.description %>
		 	</p>
		 	<p>
		 		<span class="quiet">
		 			<small>
		 				<%= time_ago_in_words(question.created_at) %> ago		
		 			</small>
		 		</span>
		 	</p>
		 	<%= render 'follow_question', question: question %>
		</div>
		
		<div class="col-md-4">
			<%= image_tag(question.picture.url, size: "250x150", class: "gravatar") if question.picture? %>
		</div>
	</div>

	<hr/>
<% end %>