<p>
	<h1>Ask a question</h1>
	<hr/>
</p>

<div class="row">
	<div class="well col-md-8 col-md-offset-2 ">
		<%= form_for @question do |f| %>
		
			<%= f.label :text %>
			<%= f.text_field :text %>

			<%= f.label :description %>
			<%= f.text_area :description %>

			<%= f.submit 'post question', class: "btn btn-success" %>

		<% end %>
	</div>
</div>