<%= render 'shared/page_title', title: "all users" %>

<ul class="nav nav-tabs">
	<li>
		<%= link_to "questions", questions_path %>
	</li>
	<li class="active">
		<%= link_to "users", users_path %>
	</li>
</ul>

<% @users.each do |user| %>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 center">
			<%= link_to gravatar_for(user, size: 200), user_path(user) %>
			<p><h5>Username: <%= user.username %></h5></p>
		</div>
	</div>
<% end %>

<%= will_paginate %>